{{page-title "EmberEmbroiderDeferredTest"}}

<Toggle as |state send|>
   {{state.value}}

  <button
    type="button"
    {{on 'click' (fn send 'TOGGLE')}}
  >
    Toggle
  </button>
</Toggle>

{{outlet}}